html, body{
    height:100vh;
    overflow:hidden;
}


body{
	background-color: green;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.container{
	height: 95%;
	padding: 20px;
}

header{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 3fr 9fr;
	/*background-color: red;*/
	height: 20%;
	margin: 20px;
	text-align: center;
}

#logo img{
	max-width: 100%;
  	height: auto;
}

input{
	width: 80%;
	padding: 10px;
	border: solid 1px;
	border-radius: 5px;
}

input, select { 
	font-size: 100%; 
}

button{
	width: 30%;
	padding: 10px;
	border: solid 1px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}

#information{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 4fr 4fr 4fr;
	/*background-color: blue;*/
	height: 45%;
	margin: 20px;
}

.content{
	border: dotted 1px;
	border-radius: 10px;
	overflow: auto;
	background-color: white;
	color: black;
}

#bot{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	/*background-color: pink;*/
	height: 25%;
	margin: 20px;
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}